<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            loglevel = OFF
						actor {
                     provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                     
                     deployment {
                        /api {
                           router = round-robin-group
                           routees.paths = ["/user/api"]
                           nr-of-instances = 3
                           cluster {
											          enabled = on
                                max-nr-of-instances-per-node = 1
											          allow-local-routees = on
											          use-role = api
									          }
                        }
                     }
                  }
                  
                  remote {
                    helios.tcp {
                      hostname = "127.0.0.1"
                      port = 0
                    }
                  }            

                  cluster {
                    seed-nodes = ["akka.tcp://batchProcessor@127.0.0.1:4053"]
                    roles = ["client"]
                  }
               }
			]]>
    </hocon>
  </akka>
  <!-- Timer Settings -->
  <appSettings>
    <!-- provide a time out value for task. If the task is not completed in given timeout then task will be rescheduled and assigned to another node-->
    <add key="TimeOutInMinutes" value="4" />
    <!-- provide a scheduler deatils for processing unfinished jobs. Unfinished jobs will be rescheduled which are not completed due to timeout error
    InitialDelayInMinutes - scheduler start checking unfinished task the value mentionded
    IntervalInSeconds - 
    -->
    <add key="InitialDelayInMinutes" value="2" />
    <add key="IntervalInMinutes" value="1" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>